<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header.ejs') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= urls[id].longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>" target="_blank"><%= id %></a>
        </p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted"><b>Edit</b></h4>
          <form method="POST" action=<%= `/urls/${id}?_method=PUT` %> style="margin: auto; width: 575px;">
            <div class="form-group row">
              <label class="col-form-label text-muted" style="width: 85px">New URL:</label>
              <div>
                <input 
                class="form-control" 
                type="text" 
                name="updatedURL"
                placeholder="<%= urls[id].longURL %>" 
                style="width: 400px"
                />
              </div>
              <button type="submit" class="btn btn-primary" style="margin-left: 5px">Submit</button>
            </div>
          </form>
      </div>
      <table class="table" style="width: 350px; margin-left: auto; margin-right: auto">
        <tfoot>
          <tr>
            <th scope="col">visits</th>
            <th scope="col">visitors</th>
          </tr>
        </tfoot>
        <tbody>
          <td style="font-size: 50px"><%= urls[id].visits.length %></td>
          <td style="font-size: 50px"><%= urls[id].visitors.length %></td>
        </tbody>
      </table>
      <h3>Recent visits</h3>
      <hr style="width: 300px; margin-left: auto; margin-right: auto">
        <% const visits = urls[id].visits %>
        <% for (let visit of visits) { %>
            <p>user <%= visit.visitor %> at <%= visit.date %>!</p>
        <% } %>
      <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>